svg {
  height: 500px;
  width: 100%;
  background-color: #ddd;
}

#circle:hover {
  fill: white;
}
#text {
  pointer-events: none;
}
#tooltip {
  position: absolute;
  text-align: center;
  background-color: white;
  pointer-events: none;
}
